<div>
  <div>
    <label>User: </label>
    <input type="text" placeholder="User" #user value="admin">
  </div>

  <div>
    <label>Password: </label>
    <input type="password" placeholder="Password" #password value="password">
  </div>

  <div>
      <label>Tenant: </label>
      <input type="text" placeholder="Tenant" #tenantName value="admin">
  </div>

  <div>
      <label>ip: </label>
      <!--<input type="text" placeholder="ip" #ip value="135.248.19.82">-->
      <input type="text" placeholder="ip" #ip value="135.248.18.33">    
  </div>

  <div>
      <label>port: </label>
      <input type="text" placeholder="port" #port value="5000">
  </div>

  <div>
      <label>Liberty: </label>
      <input type="checkbox" placeholder="Liberty" #isLiberty>
  </div>

  <div>
    <button (click)="onLogin(user.value, password.value, tenantName.value, ip.value, port.value, isLiberty.checked)">Login</button>
  </div>

</div>