<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
  <div class="row">
    <div class="col-md-4" style="background: green">
      <a class="navbar-brand" href="#">
        <img alt="Vitrage" src="assets/nokia_logo_blue.png">
      </a>
    </div>

    <div class="col-md-4" style="background: red">
      <h1 class="text-center">Vitrage</h1>
    </div>

    <div class="col-md-4" style="background: green">
      <span><i class="fa fa-spinner fa-spin fa-1x fa-fw white"></i></span>      
      <span class="tag tag-pill tag-warning pull-right">{{warningAlarmsCounter}} Warnings</span>
      <span class="tag tag-pill tag-danger pull-right">{{criticalAlarmsCounter}} Critical/High</span>
    </div>

  </div>
</nav>


<!--<nav class="navbar navbar-inverse">
  <button (click)="onGetTopology()" class="btn btn-info">Get Topology</button>
  <button (click)="onGetAlarms()" class="btn btn-info">Get Alarms</button>
</nav>

<svg width="300" height="300"></svg>-->

<ag-grid-ng2 #agGrid class="ag-dark" [gridOptions]="gridOptions">
</ag-grid-ng2>